
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --sidebar-background: #141414;
    --sidebar-item-active-background: #2C2C2C;
    --sidebar-item-active-color: #BE7BCC;
    --primary-100: #F1E2F4;
    --primary-200: #BE7BCC;
    --primary-300: #763383;
    --primary-400: #4F2258;
    --primary-500: #35173B;
    --secondary-100: #FDE7D9;
    --secondary-200: #F3A87C;
    --secondary-300: #EB6F25;
    --secondary-400: #CD5713;
    --secondary-500: #95400E;
    --light-100: #FFFFFF;
    --light-200: #F4F5F6;
    --light-300: #E7E9EC;
    --light-400: #D4D8DD;
    --light-500: #B1B8C1;
    --plate-100: #677487;
    --plate-200: #4E5D73;
    --plate-300: #3E4B61;
    --plate-400: #1F263E;
    --plate-500: #151929;
}